.header{
    height:30px;
    background-color: #f5f5f5;
    display: flex;
    /* position:fixed; */
    width:100%;
    justify-content:right;
    align-items:center;
}


.login a,
.logout a,
.register a {
  text-decoration: none;
  color: #666666; 
  font-size: 16px;
  font-weight: bold;
  margin-right:10px;
}

.login a:hover,
.logout a:hover,
.register a:hover {
  color: #FFA74E;
  font-weight: bold;
}