.menu{
    height: 60px;
    background-color: #FFA74E;
    display:flex;
    justify-content: center;
    align-items: center;
}

.search_car a,
.sale_company a,
.charge_center a,
.free_posting a{
    color:white;
    font-size:25px;
    margin: 0 30px;
    text-decoration: none;
    cursor:pointer;
    font-weight: bold;
}

.search_car a:hover,
.sale_company a:hover,
.charge_center a:hover,
.free_posting a:hover{
   background-color: #FF7E00;
}



