/*StoreList.js*/
section {
    width: 1400px;
    text-align: center;
    margin: auto;
  }
  
  #searchSession{
    width: 1400px;
  }
  
  h2 {
    display: inline-block;
    margin-right: 750px;
    color: #12345b;
  }
  #selectCity {
    display: inline-block;
  }
  
  #selectCity > select{
    margin-right: 20px;
    block-size: 35px;
    border-radius: 3px;
    width: 170px;
    font-size: 17px;
  }

  button {
    block-size: 35px;
    border-radius: 3px;
    border: none;
    background-color: #fdbd7d;
    color: #12345b;
    font-size: 17px;
    font-weight: bold;
  }
  button:hover {
    cursor: pointer;
    background-color: #ffa74e;
  }
  
  #storeTableSession {
    display: flex;
    justify-content: center;
    height: 500px;
  }
  
  #tableDiv{
    width: 1300px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  table{
    border: solid 1px rgb(104, 103, 103);
    border-radius: 1px;
    width: 1300px;
  }
  
  thead{
    background-color: #fdbd7d;
    font-size: 17px;
    color: #12345b;
  }
  
  tbody{
    font-size: 17px;
    color: #12345b;
  }

  th, td{
    padding: 5px;
  }

  tbody > tr > td:nth-child(1)  {
    width: 33px;
  }
  tbody > tr > td:nth-child(2)  {
    width: 340px;
  }
  tbody > tr > td:nth-child(3)  {
    text-align: left;
  }
  tbody > tr > td:nth-child(4)  {
    width: 210px;
  }
  