*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
  }
  
  form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
  }
  
  h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    /* margin-bottom: 5px; */
    border-radius: 5px;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
  }
  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  
  button {
    padding: 15px 39px;
    color: #FFF;
    background-color: #ffa74e;
    font-size: 20px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #ff9f3f;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  button:hover{
    background-color: #ff8f20;
    border: 1px solid #fa7f04;
    padding: 15px 39px;
    color: #FFF;
    font-size: 20px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
    font-weight: bold;
    margin-top: 15px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
  @media screen and (min-width: 480px) {
  
    form {
      max-width: 480px;
    }
  
  }