body {
  box-sizing: border-box;
}

/* Blog container */
.blog-container {
  background: #ede9e5;
  border-radius: 5px;
  box-shadow: hsla(0, 0, 0, .2) 0 4px 2px -2px;
  font-family: "adelle-sans", sans-serif;
  font-weight: 100;
  margin: 24px auto;
  width: 55rem;
  max-height: 650px;
}
.blog-container a {
  color: #4d4dff;
  text-decoration: none;
  transition: .25s ease;
}
.blog-container a:hover {
  border-color: #ff4d4d;
  color: #ff4d4d;
}

/* Blog header */
.blog-author--no-cover {
  margin: 0 auto;
  padding-top: .125rem;
  width: 80%;
}
.blog-author--no-cover h3 {
  color: lighten(#333, 40%);
  font-weight: 100;
}

/* Blog body */
.blog-body {
  margin: 0 auto;
  width: 80%;
}
.blog-title {
  display: flex;
}
.blog-title h1 button {
  color: #333;
  font-weight: 500;
  transition: .25s ease;
}
.blog-title button {
  border: none;
  background-color: #ede9e5;
  font-size: 30px;
}
.blog-title button:hover {
  color: #ff4d4d;
  cursor: pointer;
}
.blog-title h1:nth-of-type(1) {
  margin-right: 55px;
}
.blog-title h1:nth-of-type(3) {
  margin-left: auto;
}

/* Blog footer */
.blog-footer {
  border-top: 1px solid lighten(#333, 70%);
  margin: 0 auto;
  padding-bottom: .125rem;
  width: 80%;
}
.blog-footer ul {
  list-style: none;
  display: flex;
  flex: row wrap;
  justify-content: flex-end;
  padding-left: 0;
}
.blog-footer li:first-child {
  margin-right: auto;
}
.blog-footer li + li {
  margin-left: .5rem;
}
.blog-footer li {
  color: lighten(#333, 40%);
  font-size: 1rem;
  height: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
}
.blog-footer li a {
  color: lighten(#333, 40%);
}
.comments {
  margin-right: 1rem;
}
.published-date {
  border: 1px solid lighten(#333, 40%);
  border-radius: 3px;
  padding: 0 .5rem;
}
.numero {
  position: relative;
  top: -0.5rem;
}

/* Icons */
.icon-star,
.icon-bubble {
  fill: lighten(#333, 40%);
  height: 24px;
  margin-right: .5rem;
  transition: .25s ease;
  width: 24px;
}
.icon-star:hover,
.icon-bubble:hover {
  fill: #ff4d4d;
}

/* Search Area */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: 150px;
}
.search-container select {
  width: 110px; height: 50px;
  font-size: 25px;
  border: 3px solid #FFA74E;
  border-radius: 5px;
}
.search-container select:hover {
  cursor: pointer;
}
.search-container select:focus {
  outline: none;
}
.search {
  width: 400px;
  display: flex;
}
.searchTerm {
  width: 400px;
  border: 3px solid #FFA74E;
  border-right: none;
  padding: 5px;
  height: 35px;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 20px;
}
.searchTerm:focus {
  color: black;
}
.searchButton {
  width: 80px;
  height: 50px;
  border: 1px solid #FFA74E;
  background: #FFA74E;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.wrap {
  width: 30%;
  /* position: absolute; */
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.write {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.write button {
  width: 150px;
  height: 50px;
  border: none;
  background-color: #FFA74E;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  margin-left: 5px;
  margin-right: 5px;
}
