.header{
    height:50px;
    background-color: #f5f5f5;
    display: flex;
    position: fixed;
    width:100%;
    justify-content:right;
    align-items:center;
}


.login a,
.logout a,
.register a {
  text-decoration: none;
  color: #666666; 
  font-size: 18px;
  font-weight: bold;
  margin-right:25px;
}

.login a:hover,
.logout a:hover,
.register a:hover {
  color: #FFA74E;
  font-weight: bold;
}

.loggined-id{
  display:flex;
  font-size: 18px;
  color: #666666; 
  align-items: center;
}