.productList_box{
    display: flex;
    flex-direction: row;
}

/* 모델 왼쪽 메뉴 */
.model_nav{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 25px;
}

.model_title{
    border: solid 4px #FFA74E;
    margin-bottom: 20px;
    text-align: center;
    font-size: 23px;
    width: 300px;
    border-radius: 10px;
    font-weight: bold;
}

.model_title>h3{
    margin: 10px 0;
}

ul{
    font-size: 18px;
    margin: 0;
    width: 280px;
}

.model_name{
    display: flex;
    width: 100%;
    align-items: flex-start;
    text-decoration: none;
    color: black;

    background-color: white;
    border: none;
    font-size: 18px;
    text-align: left;
}

.model_name:hover{
    color: #FFA74E;
    font-weight: bold;
    cursor: pointer;
}
