.Search_article{
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#Search_title{
  margin: 0;
}

#Search_title>p:nth-child(1){
  margin-bottom: 0;
  font-size: 30px;
  font-weight: bold;
}
#Search_title>p:nth-child(2){
  margin-bottom: 0;
  font-size: 25px;
 
}
.Search_input{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}
  
label {
  font-size: x-large;
  text-align: center;
  margin-bottom: 10px;
}

.Search_madeType,
.Search_wheelsType,
.Search_VehicleType {
    width: 230px; /* 원하는 너비 설정 */
    height:50px;
    margin:10px;
    border: solid 1px lightgray;
    box-shadow: 0px 0px 5px gray;
    font-size: 20px;
}
.Search_madeType,
.Search_wheelsType,
.Search_VehicleType :hover{
  cursor: pointer;
  width: 230px; /* 원하는 너비 설정 */
  height:50px;
  margin:10px;
  border: solid 1px lightgray;
  box-shadow: 0px 0px 5px gray;
  font-size: 20px;
}
.Search_VehicleType:hover{
  cursor: pointer;
}

.Search_madeType:focus,
.Search_wheelsType:focus,
.Search_VehicleType:focus {
    outline: none;
}


.option_name{
  display: none;
}

.select-wrapper {
    display: flex;
    align-items: center;
}

#Search_btn{
  width: 230px;
  height: 50px;
  margin: 20px;
  border: none;
  background: linear-gradient(45deg, #ff9b37, #ffe15c);
  color: white;
  box-shadow: 0px 0px 5px gray;
  font-weight: bold;
  font-size: 15px;
}

#Search_btn:hover{
  background: linear-gradient(45deg, #da8530, #c0aa46);
  cursor: pointer;
}
