/*StoreList.js*/
section {
    width: 1000px;
    text-align: center;
    margin: auto;
  }
  
  .storeListSection{
    /* background-color: beige; */
  }
  
  #searchSession{
    /* background-color: rgb(155, 226, 226); */
    width: 800px;
    margin-left: 100px;
  }
  
  h3 {
    display: inline-block;
    margin-right: 300px;
    /* background-color: aqua; */
  }
  #selectCity {
    display: inline-block;
    /* background-color: aqua; */
  }
  #selectCity > select{
    margin-right: 20px;
    block-size: 25px;
    border-radius: 3px;
  }
  
  button {
    block-size: 27px;
    border-radius: 3px;
    border: none;
    background-color: #fdbd7d;
    color: #fff;
  }
  button:hover {
    cursor: pointer;
    background-color: #ffa74e;
  }
  
  #storeTableSession {
    display: flex;
    justify-content: center;
    height: 500px;
  }
  
  #tableDiv{
    width: 800px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  
  table{
    border: solid 1px rgb(104, 103, 103);
    border-radius: 1px;
    width: 800px;
  }
  
  thead{
    background-color: #fdbd7d;
    font-size: 20px;
    color: #fff;
  }
  
  tbody{
    font-size: 18px;
  }
  