#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #backgroundBox {
  position: absolute;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #alignmentBox {
  position: relative;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 {
  position: absolute;
  width: 1366.0px;
  min-height: 58.6948022345232px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 {
  position: absolute;
  width: 1366.0px;
  min-height: 57.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image {
  position: absolute;
  width: 471.99999999999994px;
  height: 472.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 .s-Category_1 .line_options.selected {
  background-color: #000000 !important;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 .s-Category_1 .selected > .options {
  color: #FFFFFF !important;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 .s-Category_1 .line_options:hover {
  background-color: #000000 !important;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 .s-Category_1 .line_options:hover > .options {
  color: #FFFFFF !important;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Category_1 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Category_1 {
  position: absolute;
  width: 471.99999999999955px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Category_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Category_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Category_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 input::-moz-placeholder {
  color: #82888C;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 input:-moz-placeholder {
  color: #82888C;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 input:-ms-input-placeholder {
  color: #82888C;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 input::-moz-placeholder {
  color: #82888C;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 input:-moz-placeholder {
  color: #82888C;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 input:-ms-input-placeholder {
  color: #82888C;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 {
  position: absolute;
  width: 300.0000000000002px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 {
  position: absolute;
  width: 113.0px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}